body {
    font-family: Arial, sans-serif;
    font-size: 105%;
    margin: 0;
    padding-top: 0;
    background-attachment: fixed;
    background-image: linear-gradient(#ffffff, #d5d5d5);
}

body * {
    font-weight: normal;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #174f71;
}

header {
    background-color: #f5f5f5;
    border-bottom: solid #377fa6 10px;
    position: fixed;
    left: 0vw;
    height: 15vh;
    width: 100vw;
    z-index: 999;
}

section {
    display: table;
    padding: 15vh;
}

section hr {
    border-top: medium dashed #fff;
    position: absolute;
    width: 10vw;
    left: 49.4vw;
}

section#projects img {
    width: 20vw;
    height: 11vw;
    margin: 10px 20px 10px 0;
    border: solid 1px #377fa6;
}

footer {
    text-align: center;
    padding: 1rem;
    position: fixed;
}

.content_wrapper {
    display: table-cell;
    padding: 2rem;
    min-height: 85vh;
    width: 79.5vw;
    vertical-align: middle;
    overflow: hidden;
}

.strong {
    font-weight: bold;
}


nav {
    position: absolute;
    margin-top: 1em;
    margin-left: 8vw;
    
    img {
        float: left;
        margin-top: 5px;
    }
    
  .nav {
    list-style: none;
    display: flex;

    li {
      margin-right: 1em;

      a {
        text-decoration: none;
        color: #000;
        font-size: 24px;
        font-weight: 400;
        transition: all 0.5s ease-in-out;
        position: relative;

        &::before {
          content: attr(data-item);
          transition: 0.5s;
          color: #174f71;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 0;
          overflow: hidden;
        }

        &:hover {
          &::before {
            width: 100%;
            transition: all 0.5s ease-in-out;
          }
        }
        }
        
    }
  }
}

.subheading {
    margin-top: -2.5vh;
    font-size: 90%;
}

.subheading a {
    text-decoration: none;
    text-transform: uppercase;
}

.subheading,
.subheading a, 
.subheading a:hover, 
.subheading a:visited {
    color: #377fa6;
}






/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 940px) {
    body {
        background-image: none;
        overflow-x: hidden
    }

    header {
        width: 100vw;
        height: 15vh;
    }

    section {
        width: 90vw;
        border-right: none;
        padding-top: 15vw;
    }

    section#projects img {
        width: 75vw;
        margin: 10px 20px 10px 0;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1024px) {
    body {
        background-image: none;
        overflow-x: hidden
    }

    header {
        width: 100vw;
        height: 12vh;
    }

    section {
        width: 90vw;
        border-right: none;
        padding-top: 15vw;
    }

}
