body {
    font-family: Arial, sans-serif;
    font-size: 120%;
    margin: 0;
    padding: 0;
    background-image: url("../img/Wafiq-Harris-Ashby.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 40%;
}

body * {
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    color: #174f71;
}

header {
    background-color: #f5f5f5;
    position: fixed;
    box-shadow: 0 1px 5px #999;
    left: 0vw;
    height: 10vh;
    width: 59.5vw;
    z-index: 999;
}

section {
    display: table;
    background-image: linear-gradient(#ffffff, #d5d5d5);
    background-attachment: fixed;
    padding: 5vw;
    width: 49.5vw;
    height: 70vh;
    position: relative;color: #3d3d3d;
}

section hr {
    border-top: medium dashed #fff;
    position: absolute;
    width: 10vw;
    left: 49.4vw;
}

section#projects img {
    width:20vw;
    margin:10px 20px 10px 0;
}

footer {
    text-align: center;
    padding: 1rem;
    position: fixed;
}

.content_wrapper {
    display: table-cell;
    padding: 2rem;
    height: 85vh;
    vertical-align: middle;
}

nav {
    position: absolute;
    margin-top: 1em;
    margin-left: 8vw;
    
    img {
        float: left;
        margin-top: 5px;
    }
    
  .nav {
    list-style: none;
    display: flex;

    li {
      margin-right: 1em;

      a {
        text-decoration: none;
        color: #000;
        font-size: 24px;
        font-weight: 400;
        transition: all 0.5s ease-in-out;
        position: relative;

        &::before {
          content: attr(data-item);
          transition: 0.5s;
          color: #174f71;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 0;
          overflow: hidden;
        }

        &:hover {
          &::before {
            width: 100%;
            transition: all 0.5s ease-in-out;
          }
        }
        }
        
    }
  }
}

.subheading {
    margin-top: -2.5vh;
    font-size: 90%;
}

.subheading a {
    text-decoration: none;
    text-transform: uppercase;
}

.subheading,
.subheading a, 
.subheading a:hover, 
.subheading a:visited {
    color: #377fa6;
}